<div class="ui dimmer visible active" (click)="onCloseModal()">
    <div class="ui modal visible active" (click)="$event.stopPropagation()">
        <i class="close icon" (click)="onCloseModal()"></i>
        <div class="header">
            <ng-content select="[modalTitle]"></ng-content>
        </div>
        <div class="content">
            <ng-content></ng-content>
        </div>
        <!-- Custom button from another component than using this modal -->
        <div class="actions">
            <ng-content select="[modalFooter]"></ng-content>
        </div>
        
        <!-- Default button -->
        <div class="actions actions-default">
            <button class="ui button" (click)="onCloseModal()">OK</button>
        </div>
    </div>  
</div>